/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;700&display=swap');

* {
    font-family: tillana,sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    background-image: url(img/fondoAI02.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}

a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 16px;
}

a:hover {
    color:rgb(225, 159, 36)
}




/* HEADER */
header {
    position:relative;
    padding: 0 32px;
    height: 80px;        /*  REVISION  */ 
}

.navbar {
    width: 100%;
    height:60px;
    max-width:1200px;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 32px;
    color:black;
}

.navbar .toggle_btn {
    color:#ffff;
    font-size:20px;
    scale:2;
    cursor:pointer;
    display:none;
}

.action_btn {
    background-color:rgb(225, 159, 36);
    color:#ffff;
    padding: 6px 12px;
    border:none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    cursor:pointer;
    transition: scale 0.2 ease;
    align-items: center;
    justify-content: center;
}

.action_btn:hover {
    scale:1.1;
    color:#ffff;
}

.action_btn:active {
    transform: scale(0.9);
}


/* DROPDOWN MENU */

.dropdown_menu {
    display:none; 
    position:absolute;
    flex-direction: column;
    height:0;
    right:32px;
    width:280px;
    top:50px;
    background-color:rgba(56, 210, 198, 0.35);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    overflow: hidden;  
    transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275) ;    
}

.dropdown_menu.open {
    height:280px;
}

.dropdown_menu .dropdown_link{
    display:flex;
    padding:10px;
    align-items: center;
    justify-content: center;

    
}
.dropdown_menu.open .action_btn {
    display:flex; 
    scale: 0.9;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;

}

.dropdown_menu.open .action_btn:hover {
    scale:1;
    color:#ffff;
}

/* MAIN CONTENT */

.row {
    display:flex;
    background-color: rgba(52, 38, 38, 0.34);
    margin: 0px;
    border-radius: 10px;
    overflow:hidden;


}

/* Contenido Secundario - Columna izquierda */
.row .sideleft {

    flex:35%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:red solid;
}

/* Contenido principal  */
.row .main{
    flex:65%;
    justify-content: center;
    text-align: center;
    border:solid blue;
}

.row .main section{
    display: flex;
    border: solid;
    justify-content: center;
}

.row .main article{
    background-color: rgba(0, 0, 0, 0.388);
    margin:10px;
    flex:30%;
    overflow: hidden;
}

.row .main article h5 {
    font-size:10px;
    height: 40px;
    color:rgb(199, 225, 225);
    text-transform: uppercase;
    padding:5px;
    overflow: hidden;
    transition: 0.3s linear;

}

.row .main article img{
    max-width:100px;
    max-height:200px;
    padding:8px 5px; 
    transition: 0.1s linear;
}

.row .main article .description{
    position: relative;
    font-size:10px;
    height: 100px;
    padding:8px 26px;
    color: rgb(199, 225, 225);
    align-items: center;
    transition: 0.3s linear;
}




.row .main .second .contban {
    background:none;
    flex:30%;
    .banner{
        align-items: center;
        scale:2.2;}
    .eslogan {
        align-items: center;
        color:azure;
        margin-top:15px;
        font-size: 12px;
    }
    
}
.row .main article:hover{
    .description, h5{scale: 1.1;}
}

.row .main img:hover{
    transform: scale(1.1);
    filter: brightness(1.15);
    cursor:pointer;
}








/* RESPONSIVE */

@media screen and (max-width: 768px) {

    /* HEADER */

    body{
        background: url(img/fondoAI02.png);
        background-size:180em;
        background-repeat: no-repeat;
    }

    header{
        background: url(img/fondoAI02.png);
        background-size:45em;
        height:300px;
    }

    .navbar .links, .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
 
    .dropdown_menu{
        display:block;
    }

    .row {
        flex-direction:column;
        background-color: rgba(75, 61, 42, 0.723);

    }

    .main section {
        flex-direction: column;
        padding:0 50px;
    }




@media screen and (max-width:578px) {
 
    .dropdown_menu {
        left:32px;
        width:unset;
    }


}

